button{
  width: 250px;
  height: 80px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
 font-size: 35px;  
 align-items: center;
  

}
button:hover{
  background-color: greenyellow;

}
.boton-de-clic{
  background-color: navy;
}
.boton-de-reinicar{
  background-color: blueviolet;
}
