*{
  padding: 0;
  margin: 0;
  
  box-sizing: border-box;
}
body{
  background-color: #1b1b32;
}

.app{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top:15px ;
  font-family: sans-serif;
}

.contenedor-img-logo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.freecodecamp-logo{ 
  height: 50px;
  
}
